body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Adicionando uma fonte */
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #4CAF50; /* Mudando a cor de fundo da barra de navegação */
  color: white; /* Mudando a cor do texto da barra de navegação */
  padding: 15px;
  margin: 20px;
}

.navbar a {
  color: white; /* Mantendo os links na cor branca */
  text-decoration: none; /* Removendo o sublinhado dos links */
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  text-align: center;
  color: #333;
}

/* Estilizando os botões */
.button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #008CBA;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Set a fixed width for the buttons */
}

/* Estilizando os alertas */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* Estilizando o formulário */
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.display-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.display-flex > div {
  margin-left: 300px; /* Add margin between button/image pairs */
  margin-right: 300px;
}

.display-flex img,
.display-flex .button {
  margin-left: auto; /* Align button/image pairs to the right */
  margin-right: auto; /* Align button/image pairs to the left */
}

.display-flex img:first-child,
.display-flex .button:first-child {
  margin-left: 0; /* Remove margin on the left for the first image/button */
}

.display-flex img:last-child,
.display-flex .button:last-child {
  margin-right: 0; /* Remove margin on the right for the last image/button */
}



