{% extends "base.html" %}

{% block title %}APP Boca No Trombone{% endblock %}

{% block content %}
<h1>Boca No Trombone <img src="{{ url_for('static', filename='trombone.png') }}" alt="Trombone" style="width: 50px; height: auto;"></h1>
<h2>Seu APP de Consciência Social</h2>
<div class="display-container">
    <div class="display-flex">
      <div>
        <a href="/formulario" class="button">Faça uma Reclamação</a>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <img src="{{ url_for('static', filename='Boca_no_trombone.jpg') }}" alt="Boca no Trombone" style="width: 100px; height: auto; border-radius: 50%; margin-bottom: 10px;">
        </div>
      </div>
      <div>
        <a href="/dashboard" class="button">Ver Dashboard</a>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <img src="{{ url_for('static', filename='Dashboard.jpg') }}" alt="Dashboard" style="width: 100px; height: auto; border-radius: 50%; margin-bottom: 10px;">
        </div>
      </div>
    </div>
  </div>   
{% endblock %}



